<section class="h-screen bg-back">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <nav class="bg-main py-2 px-4">
    <ul class="flex justify-between items-center">
      <li>
        <%= link_to root_path do %>
        <i class="fa fa-arrow-left text-white cursor-pointer"></i>
        <%end%>
      </li>
      <li>
        <p class="text-white font-proxima">RESET PASSWORD</p>
      </li>
      <li>
        <i class="fa fa-arrow-left text-transparent cursor-pointer bg-transparent"></i>
      </li>
    </ul>
  </nav>


  <div class="field">
    <%= f.email_field :email, autofocus: true,
     autocomplete: "email", placeholder: "Email",
     class: "py-3 px-4 border border-bg-darktext w-full font-proxima font-normal" %>
  </div>

  <div class="bg-second py-4 absolute inset-x-0 bottom-0 text-center">
    <div class="container mx-auto">
      <%= f.submit 'SEND ME RESET PASSWORD', class: "text-center text-white py-4 px-20
     font-proxima border-2 border-bg-white rounded-lg cursor-pointer bg-transparent" %>
    </div>
</div>

<% end %>

<div class="text-center py-4 bg-transparent text-gray-400 hover:underline font-proxima">
  <%= render "devise/shared/links" %>
</div>

<%= render "devise/shared/error_messages", resource: resource %>
</section>
