<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<p><%= @category.total_amount %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.name %></td>
        <td><%= purchase.amount %></td>
        <td><%= purchase.author_id %></td>
        <td><%= link_to 'Show', group_purchase_path(@category, purchase) %></td>
        <td><%= link_to 'Edit', edit_group_purchase_path(@category, purchase) %></td>
        <td><%= link_to 'Destroy', group_purchase_path(@category, purchase), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new Transaction',  new_group_purchase_path %>
